
<div class="ui pointing menu massive navbar">
    <a class="item" href="/">
        <h2>vFit</h2>
    </a>
    <a class="item" >Some slogan</a>
        <div class="ui search" style="margin-left: 5%;">
          <div class="ui icon input">
            <input
              class="prompt"
              type="text"
              placeholder="Search users..."
              id="username"
            />
            <i class="search icon"></i>
          </div>
          <script>
            $(".ui.search").search({
              // change search endpoint to a custom endpoint by manipulating apiSettings
              apiSettings: {
                onResponse (response) {
                  console.log(Object.values(response));
  
                  return { results: Object.values(response) };
                },
                url: "/api/user/search?username={query}",
              },
              fields: {
                title: "username",
              },
              onSelect: function(result, response) {
                  console.log(result);
                  window.location.href = `/profile/${result.user_id}`;
                  return true;
              }
            });
          </script>
        </div>
    <a class="item right"  href="/signup">
        <i class="large user circle icon"></i>
        <p id="profileicon">Sign up</p>
    </a>
    <script>
        let userp = localStorage.getItem("user")
        if(userp && userp!==""){
            userp = JSON.parse(userp);
            document.getElementById("profileicon").innerText = userp.username;
        }
        
    </script>
</div>
