
<div class="ui three item pointing relaxed menu ">
    <a class="item" href="/">
        <h1>vFit</h1>
    </a>
    <a class="item">Something else</a>
    <a class="item right" href="/signup">
                    <Icon name="user" circular />
                    Sign-in
</a>
    
</div>
