
<div class="ui pointing menu massive navbar">
    <a class="item" href="/">
        <h2>vFit</h2>
    </a>
    <a class="item" >Encouraging collaborative fitness</a>
        
    <a class="item right"  href="/signup">
        <i class="large user circle icon"></i>
        <p id="profileicon">Sign up</p>
    </a>
    <script>
        let userp = localStorage.getItem("user")
        if(userp && userp!==""){
            userp = JSON.parse(userp);
            document.getElementById("profileicon").innerText = userp.username;
        }
        
    </script>
</div>
