
<div class="ui pointing menu massive navbar">
    <a class="item" href="/">
        <h2>vFit</h2>
    </a>
    <a class="item" >Something else</a>
    <a class="item right" href="/signup">
        <i class="large user circle icon"></i>
        Sign-in
    </a>
    
</div>
