<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="favicon.ico" />
  <link rel="stylesheet" href="/public/css/friends.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- ejs magic -->
  <%- include('./partials/head'); %>
  <script>
    const ROOM_ID = " <%= room_code %>"
    console.log(ROOM_ID);
  </script>
   <script type="text/javascript" src="https://p5livemedia.itp.io/simplepeer.min.js"></script>
   <script type="text/javascript" src="https://p5livemedia.itp.io/socket.io.js"></script>    
     <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js"></script>	
     <script type="text/javascript" src="https://p5livemedia.itp.io/p5livemedia.js"></script>    
     <style>
       video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
     </style>
</head>

<body>
  <!-- <%- include('./partials/navbar'); %> -->


    <div class="ui container" style="text-align: center;">
      <span class="ui header">Room Code:</span>
      <span id="room-code" class="ui header">
        <%= room_code %>
      </span>
      <span class="ui header">(Share this room code with your friend)</span>
      <div class="ui grid">


        <div class="row">
          <div class="ui middle center aligned one column grid">
            <div class="sixteen wide column">
              <div class="ui ordered horizontal list">
                <div class="item" id="item0">
                  <img class="ui avatar image" src="/public/images/mountain_pose.jpg">
                  <div class="content">
                    <div class="header">Mountain</div>

                  </div>
                </div>
                <div class="item" id="item1">
                  <img class="ui avatar image" src="/public/images/tree_pose.jpg">
                  <div class="content">
                    <div class="header">Tree</div>

                  </div>
                </div>
                <div class="item" id="item2">
                  <img class="ui avatar image" src="/public/images/downward_dog.jpg">
                  <div class="content">
                    <div class="header">Downward Dog</div>

                  </div>
                </div>

                <div class="item" id="item3">
                  <img class="ui avatar image" src="/public/images/warrior_1.jpg">
                  <div class="content">
                    <div class="header">Warrior I</div>

                  </div>
                </div>

                <div class="item" id="item4">
                  <img class="ui avatar image" src="/public/images/warrior_2.jpg">
                  <div class="content">
                    <div class="header">Warrior II</div>

                  </div>
                </div>

                <div class="item" id="item5">
                  <img class="ui avatar image" src="/public/images/chair.jpg">
                  <div class="content">
                    <div class="header">Chair</div>

                  </div>
                </div>







              </div>
            </div>

          </div>
        </div>



        <div class="four column row">
          <div class="column">
             <h2>You</h2>
             <p class="scores">(<span id="poseCounter" onchange="updatescore()" >0</span>/6) poses done</p>
             <div style="min-height: 480px">

             </div>
          </div>
          <div class="column"> 

          </div>

          <div class="column center aligned centered">
            <div class="ui card centered">
              <div class="image">
                <img src="/images/mountain_pose.jpg" id="poseImg">
              </div>
              <div class="content">
                <a class="header" id="english">English name</a>

                <div class="description">
                  description
                </div>
              </div>
              <div class="extra content">
                <a>
                  <i class="user icon"></i>
                  Health benefits
                </a>
              </div>
            </div>
            <h1 id="poseName" >Utkatasana</h1>


            <div class="ui statistic">
              <div class="value" id="time">
                00:10
              </div>
              <div class="label" id="time2">
                seconds to go
              </div>
            </div>

            <div>

            </div>

            <!-- <form>
              <textarea id="id-supply"></textarea>
              <button type="button" onclick="do_call()">submit</button>
            </form>

            <p>Generated Peer ID is: </p>
            <p id="demo"></p>
            <video id="sendvidshere"></video>
            <div style="min-height: 200px;">
              Video
            </div> -->

          </div>

          <div class="column right aligned">
            <h2>Opponent</h2>
            <p class="scores">(<span  id="poseCounterOther" >0</span>/6) poses done</p>
            <div style="min-height: 480px">

            </div>
            
           
            <button class="ui labeled red large icon button" onclick="endcall()">
              <i class="stop icon"></i>
              End call
            </button>

          </div>




        </div>

        <div class="four column row">

          <div class="column  center aligned">

          
            <!-- <div class="ui medium image">
            <img id="poseImg" style=""></img>
        </div> -->
          </div>
          <div class="column">


          </div>
          <div class="column">


          </div>
          <div class="column">
            <div class="column">


            </div>

          </div>


        </div>


        <div class=" row">



          <!-- <div class="ui middle center aligned three column grid">
            <div class="one wide column">
              <button class="ui circular huge icon button black" id="mutebutton" onclick="mutebutton()">
                <i class="microphone icon"></i>
              </button>
            </div>
            <div class="two wide column">

              <button class="ui labeled red large icon button" onclick="endcall()">
                <i class="stop icon"></i>
                End call
              </button>
            </div>
            <div class="one wide column">
              <button class="ui circular huge icon button black" id="vidbutton" onclick="vidbutton()">
                <i class="video icon"></i>
              </button>
            </div>

          </div> -->
          <!-- <div class="column">
                                <button class="ui circular huge icon button black" id="mutebutton" onclick="mutebutton()">
                                    <i class="microphone icon"></i>
                                </button>
                             </div>
                             <div class="column">
                                <button class="ui labeled red large icon button" onclick="endcall()0">
                                    <i class="stop icon"></i>
                                    End call
                                </button>
                             </div>
                             <div class="column">
                                <button class="ui circular huge icon button black" id="vidbutton" onclick="vidbutton()">
                                    <i class="video icon"></i>
                                </button>
                             </div> -->
        </div>


      </div>
    </div>





    <!-- <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script> -->

    <!-- <script>
      //socket.io
      let webrtcCode = "";
      const socket = io();
      const room_code = document.getElementById("room-code").innerText;

      let userp = JSON.parse(localStorage.getItem("user"))
      
      socket.on("share_id", () => {
        console.log("share_id")
        socket.emit('share_id2', room_code, webrtcCode);
      });

      function updatescore(){
        socket.emit("update_score", userp.username, document.getElementById(poseCounter).innerText, room_code)
      }

      socket.on("updated_score", (username, pose_count, room_code) => {
        if(username===userp.username){
          //document.getElementById("poseCounter").innerHTML = pose_count;
        }
        else{
          document.getElementById("poseCounterOther").innerHTML = pose_count;
        }
      })

      socket.on("webrtc_id", (id) => {
          if(id!=webrtcCode){
            document.getElementById("id-supply").innerHTML = id;
          
            do_call();
          }
          

      })




      //webrtc UI
      let muted = true;
      let vidon = true;

      function mutebutton() {
        muted = !muted;
        document.getElementById("mutebutton").className = "ui circular huge icon button" + (muted ? " black" : "");
        //do webrtc mute here 






      }

      function vidbutton() {
        vidon = !vidon;
        document.getElementById("vidbutton").className = "ui circular huge icon button" + (vidon ? " black" : "");
        //do webrtc vid on/vid off here 







      }

      function endcall() {
        //end the vid chat stuff here






      }




      //webrtc stuff
      var peer = new Peer();

      peer.on('open', function (id) {
        webrtcCode = id;
        socket.emit("join_room", "" + room_code);
      });

      peer.on('connection', function (connection) {
        setInterval(score_dispatch, 1000, connection);

        connection.on('data', function (data) {
          console.log(data);
          document.getElementById("demo").innerHTML = data;
        });
      });

      peer.on('call', function (call) {
        navigator.mediaDevices.getUserMedia({ audio: true, video: true }).then(
          function (stream) {
            call.answer(stream);

            call.on('stream', function (stream) {
              video = document.getElementById('sendvidshere');
              video.srcObject = stream;
              video.autoplay = true;
            });
          }).catch(() => { });
      });

      function score_dispatch(conn) {
        conn.send(Math.random() * 1000000);
      }

      function do_call() {
        connection = peer.connect(document.getElementById("id-supply").value);
        connection.on('data', function (data) {
          console.log(data);
          document.getElementById("demo").innerHTML = data;
        });
        setInterval(score_dispatch, 1000, connection);
        navigator.mediaDevices.getUserMedia({ audio: true, video: true }).then(
          function (stream) {
            console.log(document.getElementById("id-supply").value);
            call = peer.call(document.getElementById("id-supply").value, stream);

            call.on('stream', function (stream) {
              video = document.getElementById('sendvidshere');
              video.srcObject = stream;
              video.autoplay = true;
            });
          }).catch(() => { });
      }; -->
    </script>

    <script src="/public/js/friends.js"></script>

    




</body>