<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('./partials/head'); %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="ui middle aligned equal width grid">
        <div class="column">
            <a href="/soloplay" class="large ui button">Play solo</a>    
        </div>
        <div class="column">
            <a href="/friendplay" class="large ui button">Play with a friend</a>    
        </div>
        <div class="column">
            <a href="/randomplay" class="large ui button">Match with a random</a>    
        </div>
      </div>
    
</body>
</html>