<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('./partials/head'); %>
    
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="ui equal width grid center aligned homebuttongrid">
        <div class="column">
            <button onclick="window.location.href='/soloplay'" class="large ui button massive circular homebuttons">Play solo</button>    
        </div>
        <div class="column">
            <button onclick="window.location.href='/friendplay'" class="large ui button massive circular homebuttons">Play with a friend</button>    
        </div>
        <div class="column">
            <button onclick="window.location.href='/randomplay'" class="large ui button massive circular homebuttons">Match with a random</button>    
        </div>
      </div>
    
</body>
</html>