<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/solo_game.css">
    <title>Document</title>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="ui container">
        
        <div class="ui grid">
           <div class="one column row">
                   <div class="column">
                    <div style="min-height: 30px;" >

                    </div>
                      
                   </div>
           </div>

            <div class="two column row">
                   <div class="column">
                       <div style="min-height: 500px;"></div>
                   </div>
                   <div class="column center aligned">
                    <h1 id="poseName">Tadasana</h1>
                    <div class="ui card exerciseCard">
                        <div class="image">
                          <img src="/images/mountain_pose.jpg" id="poseImg">
                        </div>
                        <div class="content">
                          <a class="header" id = "english">Mountain</a>
                        
                          <div class="description">
                            Description
                          </div> 
                        </div>
                         <div class="extra content">
                          <a>
                            <i class="user icon"></i>
                            Good for 
                          </a>
                        </div>
                      </div>
                   
                   </div>
            </div>
            <div class="two column row">
                    <div class=" column center aligned">
                        <div class="ui statistic">
                            <div class="value" id="time">
                             00:10
                            </div>
                            <div class="label" id="time2">
                             seconds to go
                            </div>
                          </div>
                    </div>
                 
                    <div class="column right aligned ">
                        <div class="ui steps">
                            <div class="step">
                                <i class="angle double right icon"></i>
                              <div class="content">
                                <div class="title" id = "next_asana">Shipping</div>
                                <div class="description">UP NEXT</div>
                              </div>
                            </div>
                          </div>
                     
                    </div>
            </div>


          
              
    
    
    
           
       
           
        </div>
    </div>
   
    
</body>

<script src = "/public/js/sketch.js"></script>

</html>