.navbar{
    margin: 0px !important;
}
.homebuttons{
    margin-top: 200px !important    ;
    width: 300px !important;
    height: 200px !important;
    text-align: center !important;
}
.headers{
    text-align: center !important;
    color: whitesmoke !important;
    font-size: 30px !important;
}
.loginsegment{
    margin-left: 200px !important;
    margin-right: 200px !important;
    margin-top: 20px !important;
}
.homebuttongrid{
    margin: 0px !important;
    padding-top: 0px !important;
    height: 100%;   
}
#friendlist{
    text-align: left;
}